<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>Create Books</title>
	<div th:include="import/header :: header-content"></div>
</head>
<body>
	
<div th:include="import/navbar :: navbar-content"></div>	

<section class="d-flex justify-content-center align-items-center">
	<div class="card card-form text-center">
		<div class="card-header">
			<h4 class="text-center">Add books</h4>
		</div>
		<div class="card-body text-center p-5">
			<form th:action="@{/books/store}" th:object="${book}" method="post">
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Title</label>
					<input class="form-control" name="name" th:field="*{name}">
				</div>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Genre</label>
					<input class="form-control" name="genre" th:field="*{genre}">
				</div>
				<div class="mb-3">
					<label for="exampleInputEmail1" class="form-label">Year</label>
					<input class="form-control" name="year" th:field="*{year}">
				</div>
				<div class="mb-5">
					<label for="exampleInputEmail1" class="form-label">Author</label>
					<input class="form-control" name="author" th:field="*{author}">
				</div>
				<br/><br/><br/>
				<button type="submit" class="btn btn-success pull-right mb-5">Submit</button>
				<br/><br/><br/>
			</form>
		</div>
	</div>
</section>

</body>
</html>