<th:block th:fragment="navbar-content">
	<nav class="navbar navbar-expand-lg bg-body-tertiary py-3">
	  <div class="container">
	    <a class="navbar-brand" th:href="@{/}">Library Management System</a>
	    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	      <span class="navbar-toggler-icon"></span>
	    </button>
	    <div class="collapse navbar-collapse" id="navbarSupportedContent">
	      <ul class="navbar-nav ms-auto mb-2 mb-lg-0 mt-2">
         	<li class="nav-item dropdown mx-2">
	          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="nav-item">
	           	Books
	          </a>
	          <ul class="dropdown-menu text-center">
	          	<li>
	            	<a class="nav-link active" th:href="@{/books/index}" style="color:black;">
	            		View Books
	            	</a>
	            </li>
	            <li><hr class="dropdown-divider"></li>
	            <li>
	            	<a class="nav-link active" th:href="@{/books/create}" style="color:black;">
	            		Add Books
	            	</a>
	            </li>
	            <li><hr class="dropdown-divider"></li>
	            <li>
	            	<a class="nav-link active" th:href="@{/books/profile/history}" style="color:black;">
	            		Book History
	            	</a>
	            </li>
	          </ul>
	        </li>  
	       	<li class="nav-item dropdown mx-2" sec:authorize="!isAuthenticated()">
				<a class="nav-link" th:href="@{/login}" id="nav-item">Login</a>
			</li>
			<li class="nav-item dropdown mx-2" sec:authorize="!isAuthenticated()">
				<a class="nav-link" th:href="@{/register}" id="nav-item">Register</a>
			</li>
	        <li class="nav-item dropdown mx-2" sec:authorize="isAuthenticated()">
	          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" id="nav-item" sec:authentication="name">
	          </a>
	          <ul class="dropdown-menu text-center">
	          	<li>
	            	<a class="nav-link active" th:href="@{/logout}" style="color:black;">
	            		Logout
	            	</a>
	            </li>
	          </ul>
	        </li>  
	      </ul>
	    </div>
	  </div>
	</nav>
</th:block>